@font-face
{
    font-family: Jura;
    src: url(../G-Fonts/Jura-SemiBold.ttf);
}
@font-face
{
    font-family: roboto;
    src: url(../G-Fonts/Roboto-Regular.ttf);
}
*,
::before,
::after
{
    outline: none;
    box-sizing: border-box;
}
/* width */
::-webkit-scrollbar 
{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track 
{
    background: #dcdcdcf0;

}

/* Handle */
::-webkit-scrollbar-thumb 
{
    background: #949494;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: #636363;
}
::selection 
{
    color: white;
    background: #4b4b4b;
}
body
{
    margin: 0;
    padding: 0;
    font-family: roboto;
/*  font-family: arial , sans-serif;*/
    background-color: #ffffff;
    overflow-y: scroll;
}
.container
{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 500px;
    height: auto;
    background: #fff;
    border:0px solid #000;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px #afafaf;
    padding: 30px;
    overflow: hidden;
}
.inp-form-cont-group
{
    border: none;
    margin: 0 0 30px 0;
}
.inp-form-cont
{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0px 2px 1px #00000057;
    transition: 0.1s ease;
    text-indent: 10px;
    font-family: roboto;
    font-size:15px;
}
.inp-form-cont:focus
{
    box-shadow: 0 0 5px 1px #00000099;
}
.log-btn
{
    width: 100%;
    height: 40px;
    background: linear-gradient(#4e4e4e,#717171,#4e4e4e);
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
.log-btn:hover
{
    background: linear-gradient(#505050,#7d7d7d,#505050);
}
hr
{
    margin: 20px 0;  
    border: none;
    border-bottom: 1px solid #a2a2a2;
    height: 0;
    background: #0000;
}
.blink
{
    color: #6f6f6f;
    text-decoration: none;
}
.blink:hover
{
    color: #006cff;
    text-decoration: underline;
}
.f-right
{
    float: right;
}
@media screen and (max-width: 520px)
{
    .container
    {
        width: 90%;
    }   
}
@media screen and (max-width: 430px)
{
    .container
    {
        width: 90%;
    }   
    .inp-form-cont
    {
        font-size: 14px;
    }
    .f-right
    {
        float: none;
    }
    .blink
    {        
        display: block;
        border: 0px solid #000;
        text-align: center;
        padding: 5px;
    }
}
@media screen and (max-width: 330px)
{
    .container
    {
        width: 90%;
    }   
}